@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
  background-color: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}
